<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/bootstrap.css') }}"
    />
    <style>
      [class*="col"] {
        padding: 1rem;
        background-color: #33b5e5;
        border: 2px solid #fff;
        color: #fff;
      }
      .child {
        background-color: #2041d3;
      }
    </style>
  </head>
  <body>
    <div class="container my-5">
      <div class="card">
        <img
          src="https://picsum.photos/300/200"
          class="card-img-top"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Do something</a>
      </div>
    </div>
    <script src="{{ url_for('static', path='js/bootstrap.bundle.js')}}"></script>
  </body>
</html>
