<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/bootstrap.css') }}"
    />
    <style>
      [class*="col"] {
        padding: 1rem;
        background-color: #33b5e5;
        border: 2px solid #fff;
        color: #fff;
      }
      .child {
        background-color: #2041d3;
      }
    </style>
  </head>
  <body>
    <div class="container border">
      <div class="row">
        <div class="col-lg-8">Col 1</div>
        <div class="col-lg-4">Col 2</div>
      </div>
    </div>
    <div class="container my-5">
      <div class="row">
        <div class="col-xxl-1 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
          Data
        </div>
        <div class="col-xxl-1 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
          Data
        </div>
        <div class="col-xxl-1 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
          Data
        </div>
        <div class="col-xxl-1 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
          Data
        </div>
        <div class="col-xxl-1 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
          Data
        </div>
        <div class="col-xxl-1 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
          Data
        </div>
        <div class="col-xxl-1 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
          Data
        </div>
        <div class="col-xxl-1 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
          Data
        </div>
        <div class="col-xxl-1 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
          Data
        </div>
        <div class="col-xxl-1 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
          Data
        </div>
        <div class="col-xxl-1 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
          Data
        </div>
        <div class="col-xxl-1 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
          Data
        </div>
      </div>
    </div>

    <div class="container border">
      <div class="row align-items-center" style="height: 250px">
        <div class="col">One of the three columns</div>
        <div class="col">One of the three columns</div>
        <div class="col">One of the three columns</div>
      </div>
      <!-- <div class="row align-items-center">
        <div class="col">One of the three columns</div>
        <div class="col">One of the three columns</div>
        <div class="col">One of the three columns</div>
      </div>
      <div class="row align-items-end">
        <div class="col">One of the three columns</div>
        <div class="col">One of the three columns</div>
        <div class="col">One of the three columns</div>
      </div> -->
    </div>

    <div class="container">
      <div class="row justify-content-start">
        <div class="col-2">1</div>
        <div class="col-2">2</div>
      </div>
      <div class="row justify-content-center">
        <div class="col-2">1</div>
        <div class="col-2">2</div>
      </div>
      <div class="row justify-content-end">
        <div class="col-2">1</div>
        <div class="col-2">2</div>
      </div>
    </div>

    <h2 class="text-center my-5">Gutter</h2>

      <div class="container">
        <div class="row gx-5 gy-5">
          <div class="col-6"><div class="child">1</div></div>
          <div class="col-6"><div class="child">2</div></div>
          <div class="col-6"><div class="child">3</div></div>
          <div class="col-6"><div class="child">4</div></div>
        </div>
      </div>
    

    <script src="{{ url_for('static', path='js/bootstrap.bundle.js')}}"></script>
  </body>
</html>
